FLASK_APP=app
FLASK_ENV=development
MONGO_URI=mongodb+srv://diegouser:qDSJzf1d6WpAlhoK@cluster0.tkgfx2p.mongodb.net/?appName=Cluster0
SECRET_KEY=tu_clave_secreta_aqui
SMTP_GMAIL=contactobalred@gmail.com
SMTP_PASSWORD=tnhhlffueleakpfj
DATABASE_URL= postgresql://neondb_owner:npg_POTI5iAENH6C@ep-falling-leaf-a8gibrxn-pooler.eastus2.azure.neon.tech/neondb?sslmode=require&channel_binding=require
API_KEY=8c84802e2e34e04e064b297dd7ab0d08e3938cddf572c406628a2d653741b1e2