FLASK_APP=app
FLASK_ENV=development
MONGO_URI=mongodb+srv://usuario:password@cluster0.ejemplo.mongodb.net/balred?retryWrites=true&w=majority
SECRET_KEY=tu_clave_secreta_aqui
API_KEY=tu_api_key_aqui
DATABASE_URL=postgresql://usuario:password@host:5432/database
SMTP_GMAIL=tu_correo@gmail.com
SMTP_PASSWORD=tu_app_password
SMTP_TO_EMAIL=destinatario@tudominio.com
